@inject FlightData.FlightDataClient FlightDataClient

<datalist id="airports">
    @foreach (var airport in airports)
    {
        <option value="@airport.Code">@airport.DisplayName (@airport.Code)</option>
    }
</datalist>

@code
{
    private IReadOnlyList<Airport> airports = Array.Empty<Airport>();

    protected override async Task OnInitializedAsync()
    {
        airports = (await FlightDataClient.AirportsAsync(new Empty())).Airports;
    }
}
